<html>
	<head> </head>
	<body>
		<p>This is a single book page</p>
		<a href="{{url_for('index')}}">Main Menu</a> <br/>
		<h1>Book Details</h1>
		{% if single_book == [] %}
			<p>No books exist</p>	
		{% else %}
			<div> 
				<p>Book ID: {{single_book.id}} <br/>
				Book Title: {{single_book.title}}</p>
			<br/> <br/>
			</div>
		{% endif %}
	</body>
</html>

